<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}NASA Mission Spending Tracker{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <script src="https://cdn.plot.ly/plotly-3.1.0-rc.1.min.js" charset="utf-8"></script>
</head>
<body>
    <nav class="navbar is-black" role="navigation">
        <div class="navbar-brand">
            <a href="https://www.planetary.org" tabindex="1" class="navbar-item">
                <img alt="Planetary Society logo" src="https://planetary.s3.amazonaws.com/sites/planetary/images/TPS_Logo_3Stack-White.svg" style="height: 50px; width: auto;">
            </a>
        </div>
            <a class="navbar-item" href="../../index.html">
                <strong>NASA Mission Spending Tracker</strong>
            </a>
        </div>
    </nav>
    
    {% block content %}{% endblock %}
    
    <footer class="footer">
        <div class="content has-text-centered">
            <p>NASA Mission Spending Tracker - Data from USAspending.gov</p>
        </div>
    </footer>
</body>
</html>